.outer_calendar_container {
  position: absolute;
  top: 35px;
  background-color: #fff;
  z-index: 2;
}

.date_selection_detail_wrapper:hover,
.date_selection_detail_wrapper:focus {
  border-bottom: 2px solid #da3743;
}

.date_selection_detail_wrapper {
  border-right: none;
  position: relative;
  height: 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #d8d9db;
  outline: none;
  cursor: pointer;
}

.date_input_text {
  position: absolute;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100% - 2px);
  padding-top: 2px;
  border: 0;
  width: 100%;
}
