@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

div, form, h3, h4, select, button {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.reservation-frame {
  margin: 0px;
  padding: 0px;
  box-shadow: 0 2px 8px rgba(153,153,153,.4);
  -webkit-box-shadow: 0 2px 8px rgba(153,153,153,.4);
}

.reservation-title-wrapper {
  height: 48px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  padding: 0 1rem;
  position: relative;
}

.reservation-title {
  font-size: 21px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #d8d9db;
  margin-left: .5rem;
}

.reservation-detail-wrapper {
  padding: .5rem 1rem 1rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #fff;
  margin-bottom: 1rem;
}

.reservation-detail-selection {
  margin-left: .5rem;
}

.reservation-detail-title {
  font-size: .875rem;
  font-weight: 500;
  padding-bottom: .25rem;
}

.reservation-seleciton-wrapper {
  cursor: pointer;
  border-right: none;
  position: relative;
  height: 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #d8d9db;
  outline: none;
}

.reservation-selection-text {
  pointer-events: none;
  position: absolute;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100% - 2px);
  padding-top: 2px;
  border: 0;
}

.selection-icon {
  position: absolute;
  top: 0;
  right: 9px;
  height: 100%;
  width: .5rem;
  fill: #6f737b;
  pointer-events: none;
}

.reservation-seleciton {
  cursor: pointer;
  font-family: inherit;
  background-color: #fff;
  font-size: .875rem;
  display: block;
  outline: none;
  border: none;
  width: 100%;
  height: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border-bottom: 1px solid #d8d9db;
}

.reservation-detail-date-time-wrapper {
  margin-top: .5rem;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.reservation-detail-date-wrapper, .reservation-detail-time-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 50%;
  flex: 1 50%;
  margin-left: .5rem;
}

.find-a-table-wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto 0;
  overflow: hidden;
  width: 100%;
}

.find-a-table-button {
  cursor: pointer;
  padding: .75rem 1rem;
  text-decoration: none;
  background-color: #da3743;
  color: #fff;
  border: none;
  font-size: 1rem;
  line-height: 1.5;
  width: 18rem;
  font-weight: 500;
  border-radius: 2px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.find-a-table-button:hover,
.find-a-table-button:focus {
  background-color: #e15b64;
}

.book-stat {
  text-align: center;
  margin: 1rem 0 0;
}

.book-stat-wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: ellipsis;
  text-decoration: inherit;
}

.book-times-icon,
.act-fast-icon {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  background-color: #fff;
}

.restaurant-booking-stat-text {
  align-self: center;
  margin: 0 0 0 .25rem;
}

.date-selection-detail-wrapper {
  border-right: none;
  position: relative;
  height: 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #d8d9db;
  outline: none;
  cursor: pointer;
}

.date-input-text {
  position: absolute;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100% - 2px);
  padding-top: 2px;
  border: 0;
  width: 100%;
}

.outer-calendar-container {
  position: absolute;
  top: 35px;
  background-color: #fff;
  z-index: 2;
}

.calendar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #d8d9db;
  background-color: #f1f2f4;
  width: 300px;
  cursor: default;
}

.calendar-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1rem 0;
  margin: 0 auto;
}

.calendar-button-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 .5rem;
  top: 1rem;
}

.calendar-button {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6px 8px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 1px solid #d8d9db;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.diable-switch-calendar {
  pointer-events: none !important;
  cursor: default;
}

.calendar-left-button {
  left: 1rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.calendar-right-button {
  right: 1rem;
}

.calendar-detail-wrapper {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 1rem;
  width: 256px;
}

.calendar-month {
  display: table-caption;
  height: 34px;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

.calendar-table {
  text-align: center;
  display: table-row-group;
  width: 256px;
}

.calendar-days {
  display: table-row;
  border-bottom: 1px solid #d8d9db;
}

.week-day {
  display: table-cell;
  padding: .5rem 0;
  font-size: .875rem;
  text-align: center;
  color: #2d333f;
  text-transform: capitalize;
}

.calendar-grid {
  display: table-row-group;
}

.calendar-row {
  display: table-row;
  line-height: 33px;
}

.date-cell {
  display: table-cell;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #d8d9db;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
  background-clip: padding-box;
}

.out-of-calendar {
  cursor: default;
  background-color: #f1f2f4;
}

.past-month-date {
  pointer-events: none !important;
  cursor: default;
  color: #d8d9db;
}

.date-cell:hover {
  left: 0;
  margin: -1px;
  border: 2px solid #da3743;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.time-slot-wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto 0;
  overflow: hidden;
  width: 100%;
}

.time-slot-title {
  text-align: center;
  margin: 0 0 .5rem;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.time-slot-entry-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: calc(-1*.5rem);
}

.time-slot-entry-inner {
  min-width: 72px;
  height: 32px;
  font-size: .875rem;
  background-color: #da3743;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 .25rem;
}

.time-slot-entry-inner:hover,
.time-slot-entry-inner:focus {
  background-color: #e15b64;
}

.time-slot-entry {
  margin-right: .5rem;
  margin-bottom: .5rem;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}

.no-time-slot-wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto 0;
  overflow: hidden;
  width: 100%;
}

.no-time-slot {
  padding: .5rem;
  background-color: #f1f2f4;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.no-time-slot-text-wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: ellipsis;
  text-decoration: inherit;
}

.no-time-slot-warning {
  position: relative;
  height: 24px;
  width: 24px;
  pointer-events: none;
  left: 0px;
  margin: 0px 10px 0px 0px;
}